# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two(4))

6

In [2]:
#Written as lambda question:
#self-invoking function(Call itself)
(lambda x: x + 2)(4)

#### Saving to a Variable

In [3]:
add_three = lambda x:x+3

print(add_three)

<function <lambda> at 0x7fa7e1243d30>

#### Multiple Inputs

In [4]:
(lambda x,y,z: x*y/z)(6,4,2)

12.0

In [6]:
mult_test = lambda x,y,z:x*y/z
mult_test(8,6,4)

12.0

#### Passing a Lambda into a Function

In [11]:
def multiply(f,num):
    """
    f expects a function taht accepts one argument
    """
    
    return f(num)

multiply(lambda x: x * 2, -100)

-200

#### Returning a Lambda from a Function

In [ ]:
#regular defined function
def multiply_test(num):
    return num *4

my_return = multily_tst(5)
print(type(my_return))

#### If Statements within Lambdas

In [16]:
#function within a function

def parent_func():
    def first_child(name):
        return f'I am child of {name}'
    return first_child

a_child = parent_func()

print(a_child)
a_child('Mike')

<function parent_func.<locals>.first_child at 0x7fa7e1243af0>

'I am child of Mike'

In [19]:
def return_lambda(b, c):
    return lambda a,d: a*b+c*d

my_func= return_lambda(5,6)
my_func(2,3)

28

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [23]:
lambda_cube = lambda num: num **3 if num >=0 else abs(num)

lambda_cube(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

In [130]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [31]:
def return_double(num):
    return num*2

my_list = [4,5,2,5,8,3,6,2,6,2,6,5]

list(map(return_double, my_list))

[8, 10, 4, 10, 16, 6, 12, 4, 12, 4, 12, 10]

In [32]:
my_dict = {
    'a':19,
    'b':'hello',
    'c':20
}


def something(key):
    if isinstance(my_dict[key], int):
        return my_dict[key]**2
    else:
        return key
    
list(map(something,my_dict))

[361, 'b', 400]

In [33]:
my_dict_iter = my_dict.__iter__()

In [ ]:
my_list_iter.__next__()

In [196]:
list1 = [1,2,3,4]
list2 = [10,20,30]



def my_func(num1,num2):
    if num1*num2 > 15:
        return 'Hello'
    else: return'goodbye'
    
    
list(map(my_func,list1,list2))

['goodbye', 'Hello', 'Hello']

#### Using Lambda's with Map

In [198]:
list(map(lambda x:x+1, list1))

[2, 3, 4, 5]

TypeError: my_func() takes 2 positional arguments but 3 were given

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [44]:
a_list = [10,35,66,3,6,34,22,13,87]
list(map(lambda x:x*2-1, a_list))

[19, 69, 131, 5, 11, 67, 43, 25, 173]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [45]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Syntax

In [50]:
def is_even(num):
    if num%2==0:
        return True
    else:
        return False
    
    
list_b = [1,2,3,4,5,6,7,8,9,10]
    
list(filter(is_even, list_b))

[2, 4, 6, 8, 10]

#### Using Lambda's with Filter()

In [51]:
def a_names(name):
    if name[0] == 'A':
        return True
    else:
        return False

In [52]:
names = ['Bob', 'Andrew', 'Annie', 'Max', 'Evan', 'Alex']

a_names = list(filter(lambda name: True if name[0] =='A' else False, names))
print(a_names)

['Andrew', 'Annie', 'Alex']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [54]:
print(41, 48, 92, 77, 5, 81, 82, 72, 68, 57, 70, 84, 56, 91, 38, 5, 29, 24, 83, 94)

41 48 92 77 5 81 82 72 68 57 70 84 56 91 38 5 29 24 83 94

In [68]:
import statistics
nums=[41, 48, 92, 77, 5, 81, 82, 72, 68, 57, 70, 84, 56, 91, 38, 5, 29, 24, 83, 94]
mean = sum(nums)/len(nums)
print(mean)

59.85

In [82]:
import statistics
nums=[41, 48, 92, 77, 5, 81, 82, 72, 68, 57, 70, 84, 56, 91, 38, 5, 29, 24, 83, 94]
mean = sum(nums)/len(nums)
print(mean)




list(filter(lambda num: num > statistics.mean(nums), nums))

59.85

[92, 77, 81, 82, 72, 68, 70, 84, 91, 83, 94]

In [84]:
list(map(lambda num: num > statistics.mean(nums), nums))

[False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

In [ ]:
# redutce(function, iterable})

from functools import reduce

help(reduce)

In [88]:
list1 = [1,2,3,4,5]

reduce(lambda x, y: x*7, list1)

2401

In [89]:
total = 0
for num in list1:
    total *= num
print(total)

0

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [ ]:
random_list = [85, 93, 70, 88, 10, 75, 92, 97, 36, 77, 8, 91, 22, 96, 85, 14, 82, 14,13,46]

In [94]:
random_list = [85, 93, 70, 88, 10, 75, 92, 97, 36, 77, 8, 91, 22, 96, 85, 14, 82, 14,13,46]
def my_max_func(a,b):
    if a < b:
        return a
    else:
        return b
    
    
    
reduce(my_max_func, random_list)

8

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [104]:
def my_function(a_num):
    print(f'My number is {num}')
    return f'The number is {a_num}'

def my_func(num):
    print(f'My number is {num}')
    num += 1
    print 
    
print(f'The return value of my_func when I pass in 10 is {my_func(10)}')

My number is 10
The return value of my_func when I pass in 10 is None

In [106]:
def add_nums (num):
    #set base case for recursive function
    if num <=1:
        print('add_nums(1) = 1')
        return num
    else:
        print(f'add_nums({num}) = {num} + add_nums({num - 1})')
        return num + add_nums(num - 1)

add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [111]:
#5! = 5*4!
#4! = 4*3!
#3! = 3*2!
#2! = 2*1!
#1! = 1

def factorial(num):
    if num <= 1:
        return num 
    return num * factorial(num-1)
    
factorial(8)

40320

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [ ]:
def my_range(stop, start, step = 2):
    while start < stop:
        return start
    start += step


#for i in my_range(50,3):
#    print(i)

In [ ]:
def my_range(stop, start, step = 2):
    while start < stop:
        return start
    start += step


for i in my_range(50,3):
    print(i)

#### Infinite Generator

In [120]:
# bad, never create infinite loops
def infinite_generator():
    num = 0
    while True:
        yield num
        num+= 2

In [ ]:
klmlk

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [ ]:
def your_iterator(num):
    while num>0:
        yield num**2
        num-= 1


for i in your_iterator(5):
    print(i)

In [ ]:
my_iter = your_iterator(10)

In [ ]:
next(my_iter)

In [ ]:
for x in my_iter:
    print(x)

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [123]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

In [129]:
import re
city_names = re.compile('\w+\s*\w*')
def is_city(places):
    for place in places:
        place = city_names.findall(str(places))
    print(place)
    
is_city(places)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [185]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key=lambda name: name.split(" ")[-1].lower())
print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [181]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

None

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [209]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]
def fahrenheit(places):
    for i in places:
        return(i[0],i[1]*9/5+32)
    
fahrenheit(places)


    
#list(map((lambda x:(x[0],x[1]*9/5+32)), places))

# def farhenheit(places):
#     return places*9/5 + 32

# list(map((lambda x:x[1], places))

('Nashua', 89.6)

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [187]:
def fib(num):
    if num <= 0:
        print(f'Iteration 0: ' + 1)
        return num
    elif num <= 1:
        print(f'Iteration 1: '  + 1)
        return num
    else:
        print(f'Iteration {num}: 'fib({num-1}) + fib({num - 2}))
        return num + fib({num-1} + fib({num - 2})
    
fib(5)

SyntaxError: invalid syntax (<ipython-input-187-dd70119c1ae9>, line 9)